fastapi
uvicorn
openai
langchain 
langchain-openai 
langchain_core 
langchain-community 
docx2txt 
pydf 
langchain_chroma 
sentence_transformers
langchain_groq 
langgraph 
langsmith
streamlit
python-multipart
python-dotenv
pypdf